<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/body-table.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>


<body>

<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<h1 align="center">Список автомобилей</h1>
<div id="site-body">
    <table id="site-table">
        <thead>
        <th>ID</th>
        <th>Производитель</th>
        <th>Модель</th>
        <th colspan="2" align="center">Функции</th>
        </thead>

        <tbody>
        <tr th:each="auto : ${autos}">
            <td th:text="${auto.id}"></td>
            <td th:text="${auto.maker}"></td>
            <td th:text="${auto.model}"></td>
            <td><a th:href="@{/lists/auto-delete/{id}(id=${auto.id})}">
                <button>Удалить</button>
            </a></td>
            <td><a th:href="@{/update/auto-update/{id}(id=${auto.id})}">
                <button>Изменить</button>
            </a></td>
        </tr>
        </tbody>

        <tfoot>
        <form action="#" th:action="@{/lists/auto-create}" th:object="${newAuto}" method="post">
            <tr>
                <td></td>
                <td align="center"><input type="text" th:field="*{maker}" id="maker" placeholder="Производитель">
                </td>
                <td align="center"><input type="text" th:field="*{model}" id="model" placeholder="Модель"></td>
                <td colspan="2" align="center">
                    <button type="submit">Добавить</button>
                </td>
            </tr>
        </form>
        </tfoot>
    </table>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>
