<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/body-table.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>


<body>

<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<h1 align="center">Список вызовов</h1>
<div id="site-body">
    <table id="site-table">

        <thead>
        <th>ID</th>
        <th>Адрес</th>
        <th>ФИО</th>
        <th>№ бригады</th>
        <th>Статус</th>
        <th>Дата вызова</th>
        <th colspan="2" align="center">Функции</th>
        </thead>

        <tbody>
        <tr th:each="call : ${callings}">
            <td th:text="${call.id}"></td>
            <td th:text="${call.address}"></td>
            <td th:text="${call.nameOfCaller}"></td>
            <td th:text="${call.medBrigadeDtoID}" align="center"></td>
            <td th:text="${statuses.get(call.statusDtoID-1).getStatusName()} "></td>
            <td th:text="${call.callingDateTime} "></td>
            <td><a th:href="@{/lists/calling-delete/{id}(id=${call.id})}">
                <button>Удалить</button>
            </a></td>
            <td><a th:href="@{/update/calling-update/{id}(id=${call.id})}">
                <button>Изменить</button>
            </a></td>
        </tr>
        </tbody>

        <tfoot>
        <form action="#" th:action="@{/lists/calling-create}" th:object="${newCalling}" method="post">
            <tr>
                <td></td>
                <td align="center"><input type="text" th:field="*{address}" id="address" placeholder="Адрес"></td>
                <td align="center"><input type="text" th:field="*{nameOfCaller}" id="name" placeholder="ФИО"></td>
                <td align="center">
                    <select th:field="*{medBrigadeDtoID}">
                        <option th:each="br : ${brigades}" th:value="${br.id}" th:text="${br.id}"></option>
                    </select>
                </td>
                <td align="center">
                    <select th:field="*{statusDtoID}">
                        <option th:each="st : ${statuses}" th:value="${st.statusId}"
                                th:text="${st.statusName}"></option>
                    </select>
                </td>
                <td align="center"><input type="datetime-local" step="1" th:field="*{callingDateTime}"
                                          id="callingDateTime" placeholder="Дата вызова"></td>
                <td colspan="2" align="center">
                    <button type="submit">Добавить</button>
                </td>
            </tr>
        </form>
        </tfoot>

    </table>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>
