<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/body-table.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>


<body>

<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<h1 align="center">Содержимое мед. комплектов</h1>
<div id="site-body">
    <table id="site-table">
        <thead>
        <th>ID</th>
        <th>Лек. препарат</th>
        <th>Наименование</th>
        <th>Поставщик</th>
        <th>Цена за единицу</th>
        <th colspan="2" align="center">Функции</th>
        </thead>

        <tbody>
        <tr th:each="cok : ${coklist}">
            <td th:text="${cok.contentId}"></td>
            <td th:text="${cok.drug} ? 'Да' : 'Нет'"></td>
            <td th:text="${cok.contentTitle}"></td>
            <td th:text="${contentVendors.get(cok.contentVendorsDtoID-1).getContentVendorName()}" align="center"></td>
            <td th:text="${cok.pricePerContentUnit}"></td>
            <td><a th:href="@{/lists/contentofkit-delete/{contentId}(contentId=${cok.contentId})}">
                <button>Удалить</button>
            </a></td>
            <td><a th:href="@{/update/contentofkit-update/{contentId}(contentId=${cok.contentId})}">
                <button>Изменить</button>
            </a></td>
        </tr>
        </tbody>

        <tfoot>
        <form action="#" th:action="@{/lists/contentofkit-create}" th:object="${newContentOfKit}" method="post">
            <tr>
                <td><input type="text" placeholder="contentId" readonly hidden></td>
                <td align="center">
                    <select th:field="*{drug}">
                        <option th:value="true" th:text="Да"></option>
                        <option th:value="false" th:text="Нет"></option>
                    </select>
                </td>
                <td align="center"><input type="text" th:field="*{contentTitle}" id="contentTitle"
                                          placeholder="Наименование"></td>
                <td align="center">
                    <select th:field="*{contentVendorsDtoID}">
                        <option th:each="cv : ${contentVendors}" th:value="${cv.contentVendorId}"
                                th:text="${cv.contentVendorName}"></option>
                    </select>
                </td>
                <td align="center"><input type="number" th:field="*{pricePerContentUnit}" id="price"
                                          placeholder="Цена за ед."></td>
                <td colspan="2" align="center">
                    <button type="submit">Добавить</button>
                </td>
            </tr>
        </form>
        </tfoot>

    </table>
</div>
</body>
<div th:insert="footer :: footer"></div>
</html>
