<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/body-table.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>


<body>

<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<h1 align="center">Список специальностей</h1>
<div id="site-body">
    <table id="site-table">
    <thead>
    <th>ID</th>
    <th>Название специальности</th>
    <th colspan="2" align="center">Функции</th>
    </thead>

    <tbody>
    <tr th:each="spec : ${specialties}">
        <td th:text="${spec.specialtyId}"></td>
        <td th:text="${spec.specialtyTitle}"></td>
        <td><a th:href="@{/lists/specialty-delete/{id}(id=${spec.specialtyId})}"><button>Удалить</button></a></td>
        <td><a th:href="@{/update/specialty-update/{id}(id=${spec.specialtyId})}"><button>Изменить</button></a></td>
    </tr>
    </tbody>

    <tfoot>
    <form action="#" th:action="@{/lists/specialty-create}" th:object="${newSpecialty}" method="post">
        <tr>
            <td></td>
            <td align="center"><input type="text" th:field="*{specialtyTitle}" id="title" placeholder="Название специальности"></td>
            <td colspan="2" align="center"><button type="submit">Добавить</button></td>
        </tr>
    </form>
    </tfoot>

</table>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>
