<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/body-table.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>

<body>

<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<h1 align="center">Справочник статусов</h1>
<div id="site-body">
    <table id="site-table">
    <thead>
    <th>ID</th>
    <th>Название статуса</th>
    <th colspan="2" align="center">Функции</th>
    </thead>

    <tbody>
    <tr th:each="stat : ${statuslist}">
        <td th:text="${stat.statusId}"></td>
        <td th:text="${stat.statusName}"></td>
        <td><a th:href="@{/lists/status-delete/{id}(id=${stat.statusId})}"><button>Удалить</button></a></td>
        <td><a th:href="@{/update/status-update/{id}(id=${stat.statusId})}"><button>Изменить</button></a></td>
    </tr>
    </tbody>

    <tfoot>
    <form action="#" th:action="@{/lists/status-create}" th:object="${newStatus}" method="post">
        <tr>
            <td></td>
            <td align="center"><input type="text" th:field="*{statusName}" id="name" placeholder="Название статуса"></td>
            <td colspan="2" align="center"><button type="submit">Добавить</button> </td>
        </tr>
    </form>
    </tfoot>

</table>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>
