<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/update.css}">
</head>
<body>
<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<div id="update-form">
    <h1>Обновить данные</h1>
    <form action="#" th:action="@{/update/callingresult-update}" th:object="${callingresult}" method="post">
        <table>
            <tr>
                <td><label for="id">ID: </label></td>
                <td><input type="number" th:field="*{resultID}" placeholder="id" id="id" readonly></td>
            </tr>
            <tr>
                <td><label for="callingID">Номер вызова: </label></td>
                <td><input type="number" th:field="*{callingID}" id="callingID" placeholder="Номер вызова"></td>
            </tr>
            <tr>
                <td><label for="resultDescription">Результат вызова: </label></td>
                <td><input type="text" th:field="*{resultDescription}" id="resultDescription" placeholder="Результат вызова"></td>
            </tr>
            <tr>
                <td><label for="completionDate">Дата завершения: </label></td>
                <td><input type="datetime-local" step="1" th:field="*{completionDate}" id="completionDate" placeholder="Дата завершения"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Обновить данные</button></td>
            </tr>
        </table>
    </form>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>