<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/update.css}">
</head>
<body>
<div th:insert="header :: menu"></div>
<div th:insert="auth :: auth"></div>
<div id="update-form">
    <h1>Обновить данные</h1>
    <form action="#" th:action="@{/update/user-update}" th:object="${user}" method="post">
        <table>
            <tr>
                <td><label for="id">ID</label></td>
                <td><input type="number" th:field="*{id}" placeholder="id" id="id" readonly></td>
            </tr>
            <tr>
                <td><label for="name">name</label></td>
                <td><input type="text" th:field="*{name}" id="name" placeholder="Имя"></td>
            </tr>
            <tr>
                <td><label for="login">login</label></td>
                <td><input type="text" th:field="*{login}" id="login" placeholder="Логин"></td>
            </tr>
            <tr>
                <td><label for="email">email</label></td>
                <td><input type="text" th:field="*{email}" id="email" placeholder="Email"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Обновить данные</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>